	/*首页样式*/

.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1;
}

.banner-container {
	height: 510px;
}

.swiper-wrapper {
	position: relative;
}


/*banner控制条*/

.banner-bar {
	position: absolute;
	display: block;
	width: 140px;
	left: 50%;
	bottom: 30px;
	margin-left: -70px;
}

.banner-bar a {
	float: left;
	display: block;
	width: 25px;
	height: 5px;
	background-color: #86a3d0;
	margin: 0 5px;
	cursor: pointer;
}

.banner-bar a:hover,
.banner-bar .swiper-active-switch {
	background-color: #fff;
}

.swiper-pagination {}


/*第一屏*/

.home-banner-01,
.home-banner-02,
.home-banner-03,
.home-banner-04 {
	background: url(../images/bg-banner.png) no-repeat left center /cover;
	margin: 0 auto;
}

.home-banner-01 .max,
.home-banner-02 .max,
.home-banner-03 .max,
.home-banner-04 .max {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	display: table;
}

.home-banner-01 .text,
.home-banner-02 .text,
.home-banner-03 .text,
.home-banner-04 .text {
	display: table-cell;
	vertical-align: middle;
	padding-left: 55px;
}

.home-banner-01 .text .title-max,
.home-banner-02 .text .title-max,
.home-banner-03 .text .title-max,
.home-banner-04 .text .title-max {
	position: relative;
	margin: 0 auto;
	display: block;
}

.home-banner-01.swiper-slide-active .text,
.home-banner-02.swiper-slide-active .text,
.home-banner-03.swiper-slide-active .text,
.home-banner-04.swiper-slide-active .text {
	animation: fadeInDown 3s 0.2s 1 ease normal both;
	-webkit-animation: fadeInDown 3s 0.2s 1 ease normal both;
	-moz-animation: fadeInDown 3s 0.2s 1 ease normal both;
	-ms-animation: fadeInDown 3s 0.2s 1 ease normal both;
}

.home-banner-01 .text h1,
.home-banner-02 .text h1,
.home-banner-03 .text h1,
.home-banner-04 .text h1 {
	margin: 0 auto;
	font-size: 46px;
	color: #fff;
}

.home-banner-01 .text h2,
.home-banner-02 .text h2,
.home-banner-03 .text h2,
.home-banner-04 .text h2 {
	font-size: 18px;
	color: #fff;
	margin-top: 20px;
}

.home-banner-01.swiper-slide-active .text h2 {
	animation: fadeInUp 2s 0.7s 1 ease normal both;
	-webkit-animation: fadeInUp 2s 0.3s 1 ease normal both;
	-moz-animation: fadeInUp 2s 0.7s 1 ease normal both;
	-ms-animation: fadeInUp 2s 0.3s 1 ease normal both;
}

.home-banner-01.swiper-slide-active .text a,
.home-banner-02.swiper-slide-active .text a,
.home-banner-03.swiper-slide-active .text a,
.home-banner-04.swiper-slide-active .text a {
	animation: fadeInUp 3s 2.7s 1 ease normal both;
	-webkit-animation: fadeInUp 3s 2.7s 1 ease normal both;
	-moz-animation: fadeInUp 3s 2.7s 1 ease normal both;
	-ms-animation: fadeInUp 3s 2.7s 1 ease normal both;
}

.home-banner-01 .text a,
.home-banner-02 .text a,
.home-banner-03 .text a,
.home-banner-04 .text a {
	display: inline-block;
	width: 195px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #fff;
	color: #fff;
	margin-top: 30px;
	animation: fadeInUp 3s 2.9s 1 ease normal both;
	-webkit-animation: fadeInUp 3s 2.9s 1 ease normal both;
	-moz-animation: fadeInUp 3s 2.9s 1 ease normal both;
	-ms-animation: fadeInUp 3s 2.9s 1 ease normal both;
	font-size: 1.6em;
}

.home-banner-01 .max span.mouse,
.home-banner-02 .max span.mouse,
.home-banner-03 .max span.mouse {
	display: block;
	position: relative;
	right: -105px;
	top: 40px;
}

.home-banner-01 .max span.mouse img {
	animation: bounceIn 3s 3s 1 ease normal both;
	-webkit-animation: bounceIn 3s 3s 1 ease normal both;
	-moz-animation: bounceIn 3s 3s 1 ease normal both;
	-ms-animation: bounceIn 3s 3s 1 ease normal both;
}


/*第2屏*/

.home-banner-02 {
	background: url(../images/bg-banner.png) no-repeat left center /cover;
	margin: 0 auto;
}

.home-banner-02 .max {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	height: 100%;
	padding-top: 1px;
}

.home-banner-02.swiper-slide-active .max h1.title {
	max-width: 360px;
	width: 30.25210084033613%;
	height: 90px;
	margin: 0 auto;
	background: #009cdf;
	margin-top: 20%;
	line-height: 90px;
	font-size: 3.0em;
	color: #fff;
	text-align: center;
	margin-bottom: 35px;
	animation: fadeInDown 2s 0s 1 ease normal both;
	-webkit-animation: fadeInDown 2s 0s 1 ease normal both;
	-moz-animation: fadeInDown 2s 0s 1 ease normal both;
	-ms-animation: fadeInDown 2s 0s 1 ease normal both;
	min-width: 320px;
}

.home-banner-02.swiper-slide-active .max h1,
.home-banner-02.swiper-slide-active .max p {
	display: block;
}

.home-banner-02.swiper-slide-active .max p {
	max-width: 976px;
	width: 82.01680672268908%;
	margin: 0 auto;
	border-top: 1px solid #777aa8;
	padding: 15px 0;
	font-size: 1.6em;
	color: #ffffff;
	line-height: 220%;
	text-align: center;
	animation: fadeInDown 2s 1s 1 ease normal both;
	-webkit-animation: fadeInDown 2s 1s 1 ease normal both;
	-moz-animation: fadeInDown 2s 1s 1 ease normal both;
	-ms-animation: fadeInDown 2s 1s 1 ease normal both;
}

.home-banner-02.swiper-slide-active .max .anmi {
	max-width: 549px;
	width: 46.13445378151261%;
	height: 327px;
	position: absolute;
	bottom: 0;
	left: 26.89075630252101%;
}

.home-banner-02.swiper-slide-active .max .anmi div {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.home-banner-02.swiper-slide-active .max .anmi div span {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
}

.home-banner-02.swiper-slide-active .max .anmi div span.anmi01 {
	animation: fadeInLeft 2s 0s 1 ease normal both;
	-webkit-animation: fadeInLeft 2s 0s 1 ease normal both;
	-moz-animation: fadeInLeft 2s 0s 1 ease normal both;
	-ms-animation: fadeInLeft 2s 0s 1 ease normal both;
}

.home-banner-02.swiper-slide-active .max .anmi div span.anmi02 {
	animation: fadeInLeft 2s 0.3s 1 ease normal both;
	-webkit-animation: fadeInLeft 2s 0.3s 1 ease normal both;
	-webkit-animation: fadeInLeft 2s 0.3s 1 ease normal both;
	-ms-animation: fadeInLeft 2s 0.3s 1 ease normal both;
}

.home-banner-02.swiper-slide-active .max .anmi div span.anmi03 {
	animation: fadeInLeft 2s 0.2s 1 ease normal both;
	-webkit-animation: fadeInLeft 2s 0.2s 1 ease normal both;
	-moz-animation: fadeInLeft 2s 0.2s 1 ease normal both;
	-ms-animation: fadeInLeft 2s 0.2s 1 ease normal both;
}

.home-banner-02.swiper-slide-active .max .anmi div span.anmi04 {
	animation: fadeInRight 2s 0.1s 1 ease normal both;
	-webkit-animation: fadeInRight 2s 0.1s 1 ease normal both;
	-moz-animation: fadeInRight 2s 0.1s 1 ease normal both;
	-ms-animation: fadeInRight 2s 0.1s 1 ease normal both;
}

.home-banner-02.swiper-slide-active .max .anmi div span.anmi05 {
	animation: fadeInRight 2s 0.2s 1 ease normal both;
	-webkit-animation: fadeInRight 2s 0.2s 1 ease normal both;
	-moz-animation: fadeInRight 2s 0.2s 1 ease normal both;
	-ms-animation: fadeInRight 2s 0.2s 1 ease normal both;
}

.home-banner-02.swiper-slide-active .max .anmi div span.anmi06 {
	animation: fadeInRight 2s 0s 1 ease normal both;
	-webkit-animation: fadeInRight 2s 0s 1 ease normal both;
	-moz-animation: fadeInRight 2s 0s 1 ease normal both;
	-ms-animation: fadeInRight 2s 0s 1 ease normal both;
}

.home-banner-02.swiper-slide-active .max .anmi div span.anmi00 {
	animation: fadeInUp 2s 0.7s 1 ease normal both;
	-webkit-animation: fadeInUp 2s 0.3s 1 ease normal both;
	-moz-animation: fadeInUp 2s 0.7s 1 ease normal both;
	-ms-animation: fadeInUp 2s 0.3s 1 ease normal both;
}

.home-banner-03 .max h1,
.home-banner-03 .max p {
	display: none;
}

.home-banner-03.swiper-slide-active .max h1,
.home-banner-03.swiper-slide-active .max p {
	display: block;
}

.home-banner-03 {
	background: url(../images/bg-banner.png) no-repeat left center /cover;
	margin: 0 auto;
}

.home-banner-03 .max {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	height: 100%;
	padding-top: 1px;
}

.home-banner-03.swiper-slide-active .max h1.title {
	max-width: 360px;
	width: 30.25210084033613%;
	height: 90px;
	margin: 0 auto;
	background: #f8642d;
	margin-top: 20%;
	line-height: 90px;
	font-size: 3.0em;
	color: #fff;
	text-align: center;
	margin-bottom: 35px;
	animation: fadeInDown 2s 0s 1 ease normal both;
	-webkit-animation: fadeInDown 2s 0s 1 ease normal both;
	-moz-animation: fadeInDown 2s 0s 1 ease normal both;
	-ms-animation: fadeInDown 2s 0s 1 ease normal both;
	min-width: 320px;
}

.home-banner-03.swiper-slide-active .max p {
	width: 82.01680672268908%;
	max-width: 976px;
	margin: 0 auto;
	border-top: 1px solid #00ceef;
	padding: 15px 0;
	font-size: 1.6em;
	color: #ffffff;
	line-height: 220%;
	text-align: center;
	animation: fadeInDown 2s 1s 1 ease normal both;
	-webkit-animation: fadeInDown 2s 1s 1 ease normal both;
	-moz-animation: fadeInDown 2s 1s 1 ease normal both;
	-ms-animation: fadeInDown 2s 1s 1 ease normal both;
}

.home-banner-03.swiper-slide-active .max .anmi {
	max-width: 816px;
	width: 68.57142857142857%;
	height: 362px;
	position: absolute;
	left: 15.71428571428571%;
	bottom: 0;
}

.home-banner-03.swiper-slide-active .max .anmi div {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.home-banner-03.swiper-slide-active .max .anmi div span {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
}

.home-banner-03.swiper-slide-active .max .anmi div span.anmi01 {
	animation: fadeInUp 2s 0s 1 ease normal both;
	-webkit-animation: fadeInUp 2s 0s 1 ease normal both;
	-moz-animation: fadeInUp 2s 0s 1 ease normal both;
	-ms-animation: fadeInUp 2s 0s 1 ease normal both;
}

.home-banner-03.swiper-slide-active .max .anmi div span.anmi02 {
	animation: fadeInUp 2s 0.2s 1 ease normal both;
	-webkit-animation: fadeInUp 2s 0.2s 1 ease normal both;
	-moz-animation: fadeInUp 2s 0.2s 1 ease normal both;
	-ms-animation: fadeInUp 2s 0.2s 1 ease normal both;
}

.home-banner-03.swiper-slide-active .max .anmi div span.anmi03 {
	animation: fadeInDown 2s 0.3s 1 ease normal both;
	-webkit-animation: fadeInDown 2s 0.3s 1 ease normal both;
	-moz-animation: fadeInDown 2s 0.3s 1 ease normal both;
	-ms-animation: fadeInDown 2s 0.3s 1 ease normal both;
}

.home-banner-03.swiper-slide-active .max .anmi div span.anmi04 {
	animation: demo 10s 0.6s infinite ease normal both;
	-webkit-backface-visibility: visible;
	-webkit-transform-origin: center center;
	-webkit-animation: demo 10s 0.6s infinite ease normal both;
	-moz-backface-visibility: visible;
	-moz-transform-origin: center center;
}

.home-banner-03.swiper-slide-active .max .anmi div span.anmi05 {
	-webkit-backface-visibility: visible;
	-webkit-transform-origin: center center;
	-webkit-animation: demo1 10s 0.7s infinite ease normal both;
	-moz-backface-visibility: visible;
	-moz-transform-origin: center center;
	animation: demo1 10s 0.7s infinite ease normal both;
}

.home-banner-03.swiper-slide-active .max .anmi div span.anmi06 {
	animation: demo 10s 0.8s infinite ease normal both;
	-webkit-backface-visibility: visible;
	-webkit-transform-origin: center center;
	-webkit-animation: demo 10s 0.8s infinite ease normal both;
	-moz-backface-visibility: visible;
	-moz-transform-origin: center center;
}

.home-banner-03.swiper-slide-active .max .anmi div span.anmi07 {
	animation: fadeInDown 0.5s 0.3s 1 ease normal both;
	-webkit-animation: fadeInDown 0.5s 0.3s 1 ease normal both;
	-moz-animation: fadeInDown 0.5s 0.3s 1 ease normal both;
	-ms-animation: fadeInDown 0.5s 0.3s 1 ease normal both;
}

.home-banner-03.swiper-slide-active .max .anmi div span.anmi08 {
	animation: demo2 2s 2s infinite ease normal both;
	-webkit-animation: demo2 2s 2s infinite ease normal both;
	-moz-animation: demo2 2s 2s infinite ease normal both;
	-ms-animation: demo2 2s 2s infinite ease normal both;
}

.home-banner-03.swiper-slide-active .max .anmi div span.anmi09 {
	animation: fadeInDown 2s 0.5s 1 ease normal both;
	-webkit-animation: fadeInDown 2s 0.5s 1 ease normal both;
	-moz-animation: fadeInDown 2s 0.5s 1 ease normal both;
	-ms-animation: fadeInDown 2s 0.5s 1 ease normal both;
}

.home-banner-04 .max h1,
.home-banner-04 .max p {
	display: none;
}

.home-banner-04.swiper-slide-active .max h1,
.home-banner-04.swiper-slide-active .max p {
	display: block;
}

.home-banner-04 {
	background: url(../images/bg-banner.png) no-repeat left center /cover;
	margin: 0 auto;
	overflow: hidden;
}

.home-banner-04 .max {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	height: 100%;
	padding-top: 1px;
}

.home-banner-04.swiper-slide-active .max h1.title {
	max-width: 360px;
	width: 30.25210084033613%;
	height: 90px;
	margin: 0 auto;
	background: #4f5170;
	margin-top: 20%;
	line-height: 90px;
	font-size: 3.0em;
	color: #fff;
	text-align: center;
	margin-bottom: 35px;
	animation: fadeInDown 2s 0s 1 ease normal both;
	-webkit-animation: fadeInDown 2s 0s 1 ease normal both;
	min-width: 320px;
	-moz-animation: fadeInDown 2s 0s 1 ease normal both;
	-ms-animation: fadeInDown 2s 0s 1 ease normal both;
	min-width: 320px;
}

.home-banner-04.swiper-slide-active .max p {
	margin: 0 auto;
	border-top: 1px solid #fc9d48;
	padding: 15px 0;
	font-size: 1.6em;
	color: #ffffff;
	line-height: 220%;
	text-align: center;
	animation: fadeInDown 2s 1s 1 ease normal both;
	-webkit-animation: fadeInDown 2s 1s 1 ease normal both;
	-moz-animation: fadeInDown 2s 1s 1 ease normal both;
	-ms-animation: fadeInDown 2s 1s 1 ease normal both;
}

.home-banner-04.swiper-slide-active .max .anmi {
	max-width: 664px;
	width: 55.79831932773109%;
	height: 326px;
	position: absolute;
	left: 22.10084033613445%;
	bottom: 0;
}

.home-banner-04.swiper-slide-active .max .anmi div {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.home-banner-04.swiper-slide-active .max .anmi div span {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
}

.home-banner-04.swiper-slide-active .max .anmi div span.anmi00 {
	animation: fadeInUp 0.5s 0.2s 1 ease normal both;
	-webkit-animation: fadeInUp 0.5s 0.2s 1 ease normal both;
	-moz-animation: fadeInUp 0.5s 0.2s 1 ease normal both;
	-ms-animation: fadeInUp 0.5s 0.2s 1 ease normal both;
}

.home-banner-04.swiper-slide-active .max .anmi div span.anmi01 {
	animation: fadeInUp 0.5s 0.5s 1 ease normal both;
	-webkit-animation: fadeInUp 0.5s 0.5s 1 ease normal both;
	-moz-animation: fadeInUp 0.5s 0.5s 1 ease normal both;
	-ms-animation: fadeInUp 0.5s 0.5s 1 ease normal both;
}

.home-banner-04.swiper-slide-active .max .anmi div span.anmi02 {
	;
	animation: fadeInUp 0.5s 0.6s 1 ease normal both;
	-webkit-animation: fadeInUp 0.5s 0.6s 1 ease normal both;
	-moz-animation: fadeInUp 0.5s 0.6s 1 ease normal both;
	-ms-animation: fadeInUp 0.5s 0.6s 1 ease normal both;
}

.home-banner-04.swiper-slide-active .max .anmi div span.anmi03 {
	;
	animation: fadeInUp 0.5s 0.7s 1 ease normal both;
	-webkit-animation: fadeInUp 0.5s 0.7s 1 ease normal both;
	-moz-animation: fadeInUp 0.5s 0.7s 1 ease normal both;
	-ms-animation: fadeInUp 0.5s 0.7s 1 ease normal both;
}

@-webkit-keyframes demo2 {
	0% {
		opacity: 0;
	}
	32% {}
	65% {}
	100% {
		opacity: 1;
	}
	16% {
		opacity: 1;
	}
}

@keyframes demo2 {
	0% {
		opacity: 0;
	}
	32% {}
	65% {}
	100% {
		opacity: 1;
	}
	16% {
		opacity: 1;
	}
}

@-webkit-keyframes demo {
	0% {
		opacity: 0;
		-webkit-transform: translateX(0px);
	}
	24% {
		-webkit-transform: translateX(50px);
	}
	50% {
		opacity: 1;
		-webkit-transform: translateX(0px);
	}
	74% {
		opacity: 0.8;
		-webkit-transform: translateX(50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0px);
	}
	25% {
		opacity: 0.8;
	}
}

@keyframes demo {
	0% {
		opacity: 0;
		-moz-transform: translateX(0px);
	}
	24% {
		-moz-transform: translateX(50px);
	}
	50% {
		opacity: 1;
		-moz-transform: translateX(0px);
	}
	74% {
		opacity: 0.8;
		-moz-transform: translateX(50px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0px);
	}
	25% {
		opacity: 0.8;
	}
}

@-webkit-keyframes demo1 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(0px);
	}
	24% {
		-webkit-transform: translateX(-50px);
	}
	50% {
		opacity: 1;
		-webkit-transform: translateX(0px);
	}
	74% {
		opacity: 0.8;
		-webkit-transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0px);
	}
	25% {
		opacity: 0.8;
	}
}

@keyframes demo1 {
	0% {
		opacity: 0;
		-moz-transform: translateX(0px);
	}
	24% {
		-moz-transform: translateX(-50px);
	}
	50% {
		opacity: 1;
		-moz-transform: translateX(0px);
	}
	74% {
		opacity: 0.8;
		-moz-transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0px);
	}
	25% {
		opacity: 0.8;
	}
}

@-webkit-keyframes customFadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 30px, 0);
		transform: translate3d(0, 30px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes customFadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 30px, 0);
		transform: translate3d(0, 30px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.customFadeInUp {
	-webkit-animation-name: customFadeInUp;
	animation-name: customFadeInUp;
}

@-webkit-keyframes customFadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes customFadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.customFadeInDown {
	-webkit-animation-name: customFadeInDown;
	animation-name: customFadeInDown;
}

.swiper-pagination.swiper-pagination-clickable {
	display: none;
}

@-webkit-keyframes fadell {
	0% {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 0%;
	}
	50% {
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 55%;
	}
	100% {
		background-position: center top;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

@keyframes fadell {
	0% {
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto 20%;
	}
	50% {
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto 55%;
	}
	100% {
		background-position: center top;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

@-webkit-keyframes fadei {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadell {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.banner-container{
	perspective: 1000px;
	z-index: 99;
}
.card {
	transform-style: preserve-3d;
	}